/*
====================================
    The mapgroup domain elements 
    represent particular containment 
    strategies within a set of topicrefs 
    in a map.. [mapgroup-d]
====================================
*/
*[class~="mapgroup-d/topicgroup"],
*[class~="mapgroup-d/topichead"]{
    display:block;
    margin-left: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

