<?xml version="1.0" encoding="UTF-8"?>
<!--
Oxygen WebHelp Plugin Common Extensions for DITA-OT 1.8.x or older.

Oxygen WebHelp Plugin
Copyright (c) 1998-2017 Syncro Soft SRL, Romania.  All rights reserved.


-->
<!DOCTYPE plugin[
 <!ENTITY commons SYSTEM 'plugin_commons.xml'>
]>
<plugin id="com.oxygenxml.webhelp.common">
  &commons;
  <feature extension="dita.xsl.mappull" file="xsl/dita/mappullAddMetadata1.8.x.xsl"/>
  <feature extension="dita.xsl.xhtml" value="xsl/dita/ditaPatches1_8.xsl" type="file"/>
</plugin>
