@import "html_cals_table.css";

/*
=================================
    Modify the HTML defaults to reflect
    the structure of the CALS table.
    The master file is in the DITA framework.
=================================
*/

/* Because the tgroup below is having the display: table, the table element 
containing the element tgroup loses its display, becoming a block.*/
table,
informaltable{
  /*See -colors.css */
  border-color:#EEEEEE;
  border-style:solid;
  border-width:2px;
  padding:2px;
}

/*
  A wrapper for the main content of a table, or part of a table
 */
tgroup {
  display:table;
  border-style:solid;
  border-width:1px;  
}


/* 
  Mechanism for toggling on/off the visibility of the colspecs. 
 */
 @media oxygen {
    colspec, spanspec{
        display:none;    
    }
    tgroup:-oxy-visible-colspecs colspec, 
    tgroup:-oxy-visible-colspecs spanspec{
        display:block;
    }
    tgroup:before! > colspec{ 
        display:block;
        content:oxy_button(actionID, 'table.expand.colspec', transparent, true, color, navy, fontInherit, true, showText, true, enableInReadOnlyContext, true);
        text-align:left;
        font-family: sansserif, verdana, helvetica;
        font-size: 0.75em;
        padding-bottom: 0.2em;
    }
    tgroup:-oxy-visible-colspecs:before{
        content:oxy_button(actionID, 'table.collapse.colspec', transparent, true, color, navy, fontInherit, true, showText, true, enableInReadOnlyContext, true);		
    }
}
/*Different foreground color for button*/
@media oxygen-high-contrast-black, oxygen-dark-theme{
    tgroup:before! > colspec{
         content:oxy_button(actionID, 'table.expand.colspec', transparent, true, color, white, fontInherit, true, showText, true, enableInReadOnlyContext, true);
    }
    tgroup:-oxy-visible-colspecs:before{
    content:oxy_button(actionID, 'table.collapse.colspec', transparent, true, color, white, fontInherit, true, showText, true, enableInReadOnlyContext, true);		
    }
}

@media oxygen {
    col, colgroup {
    	display:block;
    }
}

@media print {
 /*
  * Use the width set on the colspec "style" attribute.
  * For this we have to mark the  topic/colspec as table-column.
  */
 colspec, col {
     display:table-column;
 }
 colgroup {
     display:table-column-group;
 }
}

/*
 * The frame is displayed on tgroup
 */
table[frame] {
    border-style:none;
}

/* 
   If no frame attribute value is set, use a 1px border. This is similar to the PDF output.
*/
table[frame] > tgroup {
	border-style:none;
}


table[frame = 'above'] > tgroup,
table[frame = 'top'] > tgroup {
    border-top-style:solid;
    border-top-width:1px;
}

table[frame = 'below'] > tgroup,
table[frame = 'bottom'] > tgroup {
    border-bottom-style:solid;
    border-bottom-width:1px;
}

table[frame = 'rhs'] > tgroup,
informaltable[frame = 'rhs'] > tgroup {
    border-right-style:solid;
    border-right-width:1px;
}

table[frame = 'lhs'] > tgroup,
informaltable[frame = 'lhs'] > tgroup {
    border-left-style:solid;
    border-left-width:1px;
}

table[frame = 'vsides'] > tgroup,
table[frame = 'sides'] > tgroup {
    border-left-style:solid;
    border-left-width:1px;
    
    border-right-style:solid;
    border-right-width:1px;
}

table[frame = 'hsides'] > tgroup,
table[frame = 'topbot'] > tgroup {

    border-top-style:solid;
    border-top-width:1px;
    
    border-bottom-style:solid;
    border-bottom-width:1px;
}

table[frame = 'box'] > tgroup,
table[frame = 'border'] > tgroup,
table[frame = 'all'] > tgroup {
    border-style:solid;
    border-width:1px;
}