@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xlink url('http://www.w3.org/1999/xlink');

@media oxygen-dark-theme, oxygen-high-contrast-black{

    *:before,
    *,
    *:after{
        color:inherit !important;
        background-color:inherit !important;
        border-color:inherit !important;
    }

    oxy|comment{
        color:#3DB39B !important;
        background-color:transparent !important;
    }

    oxy|reference,
    oxy|entity{
        background-color: rgb(90,90,90) !important;
    }

    table,
    informaltable,
    td{
        border-color:#383838 !important;
    }

    tgroup,
    table[frame = 'box'] > tgroup,
    table[frame = 'border'] > tgroup,
    table[frame = 'all'] > tgroup,
    table[frame],
    informaltable[frame],
    entry,
    th{
        border-color:white !important;
    }

    tgroup:before! > colspec{
        content:oxy_button(actionID, 'table.expand.colspec', transparent, true, color, #59ACFF, fontInherit, true, showText, true, enableInReadOnlyContext, true);
        color:#59ACFF !important;
    }

    tgroup:-oxy-visible-colspecs:before{
        content:oxy_button(actionID, 'table.collapse.colspec', transparent, true, color, #59ACFF, fontInherit, true, showText, true, enableInReadOnlyContext, true);
    }

    table[frame = 'above'] > tgroup,
    table[frame = 'top'] > tgroup{
        border-top-color:white !important;
    }

    table[frame = 'below'] > tgroup,
    table[frame = 'bottom'] > tgroup{
        border-bottom-color:white !important;
    }

    table[frame = 'rhs'] > tgroup,
    informaltable[frame = 'rhs'] > tgroup{
        border-right-color:white !important;
    }

    table[frame = 'lhs'] > tgroup,
    informaltable[frame = 'lhs'] > tgroup{
        border-left-color:white !important;
    }

    table[frame = 'vsides'] > tgroup,
    table[frame = 'sides'] > tgroup{
        border-left-color:white !important;
        border-right-color:black !important;
    }

    table[frame = 'hsides'] > tgroup,
    table[frame = 'topbot'] > tgroup{
        border-top-color:white !important;
        border-bottom-color:white !important;
    }

    table > caption,
    table > info > title,
    table > title,
    olink,
    refsynopsisdiv:before,
    synopfragmentref
    {
        color:#2860ED !important;
    }

    table[border],
    informaltable[border]{
        border-color:#CCCCCC !important;
    }

    th,
    thead{
        background-color:#838383 !important;
        color:#383838 !important;
    }

    tfoot{
        background-color:#282828 !important;
        color:#009999 !important;
    }

    xref{
        content:oxy_label(text, oxy_getSomeText(oxy_link-text(), 150, true), color, rgb(240, 240, 240)) !important;
    }

    ulink[url]:empty{
        content:oxy_label(text, oxy_getSomeText(attr(url), 150, true), color, rgb(89, 172, 255));
    }
    link[xlink|href]:empty{
        content:oxy_label(text, oxy_getSomeText(attr(xlink|href), 150, true), color, rgb(240, 240, 240));
    }

    dedication,
    segtitle,
    alt,
    menuchoice,
    sgmltag[class = pi]:before,
    sgmltag[class = xmlpi]:before,
    sgmltag[class = pi]:after,
    sgmltag[class = xmlpi]:after,
    sgmltag[class = pi],
    sgmltag[class = xmlpi],
    footnote,
    appendixinfo,
    articleinfo,
    bibliographyinfo,
    blockinfo,
    bookinfo,
    chapterinfo,
    glossaryinfo,
    indexinfo,
    objectinfo,
    partinfo,
    prefaceinfo,
    refentryinfo,
    refmeta,
    referenceinfo,
    refsect1info,
    refsect2info,
    refsect3info,
    refsectioninfo,
    refsynopsisdivinfo,
    sect1info,
    sect2info,
    sect3info,
    sect4info,
    sect5info,
    sectioninfo,
    setindexinfo,
    setinfo,
    sidebarinfo{
        color:#B512B2 !important;
    }

    colophon,
    indexentry,
    msglevel:before,
    msgorig:before,
    msgaud:before,
    sgmltag[class = sgmlcomment]:before,
    sgmltag[class = sgmlcomment]:after,
    sgmltag[class = sgmlcomment],
    revision:before,
    void{
        color:#179C32 !important;
    }

    glosssee:before,
    glossseealso:before,
    seeie:before,
    seealsoie:before,
    simplelist[type = inline] > member:before,
    screeninfo,
    keycombo > *:before,
    shortcut:before,
    shortcut:after,
    indexterm:before,
    indexterm:after,
    indexterm[class = startofrange]:before,
    indexterm[class = endofrange]:after,
    indexterm > see:before,
    indexterm > seealso:before,
    sbr:before,
    blockquote:before,
    epigraph:before,
    blockquote:after,
    epigraph:after,
    footnote:before,
    quote:before,
    quote:after,
    anchor:before,
    ooclass > classname:before,
    oointerface > interfacename:before,
    ooexception > exceptionname:before,
    ooclass > classname:first-child:before,
    oointerface > interfacename:first-child:before
ooexception > exceptionname:first-child:before,
    constructorsynopsis > exceptionname:before,
    destructorsynopsis > exceptionname:before,
    methodsynopsis > exceptionname:before,
    initializer:before,
    production:before,
    lhs:after{
        color:#CCCCCC !important;
    }

    areaspec,
    areaset,
    area,
    question:before,
    answer:before,
    sgmltag[class = paramentity]:before,
    sgmltag[class = paramentity]:after,
    sgmltag[class = paramentity],
    sgmltag[class = genentity]:before,
    sgmltag[class = genentity]:after,
    sgmltag[class = genentity],
    sgmltag[class = numcharref]:before,
    sgmltag[class = numcharref]:after,
    sgmltag[class = numcharref],
    sidebar,
    lineannotation{
        color:#B31552 !important;
    }

    highlights{
        color:#179C32 !important;
        border:thin solid #383838 !important;
    }

    bridgehead,
    sgmltag[class = starttag]:before,
    sgmltag[class = emptytag]:before,
    sgmltag[class = endtag]:before,
    sgmltag[class = endtag]:after,
    sgmltag[class = starttag]:after,
    sgmltag[class = emptytag]:after,
    sgmltag[class = starttag],
    sgmltag[class = emptytag],
    sgmltag[class = endtag],
    sgmltag[class = starttag],
    subtitle,
    titleabbrev,
    biblioref:before,
    email,
    footnoteref:before,
    footnoteref[label]:before,
    nonterminal{
        color:#0050F0 !important;
    }
    
    link, ulink {
        color: #AAAAFF !important;
    }

    sgmltag[class = attvalue]:before,
    sgmltag[class = attvalue]:after,
    sgmltag[class = attvalue],
    remark,
    replaceable,
    methodparam:after,
    constraint:before{
        color:#960000 !important;

    }

    sgmltag[class = attribute],
    mediaobject > caption,
    abstract:before,
    userinput{
        color:#009999 !important;
    }


    beginpage:before{
        color:#CCCCCC !important;
    }

    programlisting,
    screen{
        color:#179C32 !important;
        border:1px dashed #aaa !important;
    }


    footnote[label]:before,
    copyright:before,
    trademark:after,
    productname:after,
    xref:before,
    refpurpose:before,
    arg:before,
    group:before,
    arg:after,
    group:after,
    arg[rep = repeat]:after,
    group[rep = repeat]:after,
    funcdef:after,
    funcprototype:after,
    varargs:before,
    paramdef + paramdef:before,
    paramdef > funcparams:before,
    paramdef > funcparams:after,
    fieldsynopsis:after,
    constructorsynopsis:after,
    destructorsynopsis:after,
    methodsynopsis:after,
    methodparam:before,
    productionrecap:before,
    area:before,
    areaset:before,
    co:before,
    coref:before,
    callout:before,
    label,
    menuchoice > guimenu:before,
    synopsis > optional:before,
    synopsis > optional:after,
    citerefentry > manvolnum:before,
    citerefentry > manvolnum:after,
    wordasword{
        color:white !important;
    }

    productionset{
        color:#B512B2 !important;
        border:4px ridge #383838 !important;
    }

    constraintdef{
        color:#B31552 !important;
        border:none !important; /*Without border*/
    }

    table[border][rules = cols] > tr > td,
    table[border][rules = cols] > tr > th,
    table[border][rules = cols] > tbody > tr > td,
    table[border][rules = cols] > tbody > tr > th,
    table[border][rules = cols] > thead > tr > td,
    table[border][rules = cols] > thead > tr > th,
    table[border][rules = cols] > tfoot > tr > td,
    table[border][rules = cols] > tfoot > tr > th{
        border-left:1px solid white !important;
        border-right:1px solid white !important;
    }

    table[border][rules = rows] > tr > td,
    table[border][rules = rows] > tr > th,
    table[border][rules = rows] > tbody > tr > td,
    table[border][rules = rows] > tbody > tr > th,
    table[border][rules = rows] > thead > tr > td,
    table[border][rules = rows] > thead > tr > th,
    table[border][rules = rows] > tfoot > tr > td,
    table[border][rules = rows] > tfoot > tr > th{
        border-top:1px solid white !important;
        border-bottom:1px solid white !important;
    }

    table[border][rules = all] > tr > td,
    table[border][rules = all] > tr > th,
    table[border][rules = all] > tbody > tr > td,
    table[border][rules = all] > tbody > tr > th,
    table[border][rules = all] > thead > tr > td,
    table[border][rules = all] > thead > tr > th,
    table[border][rules = all] > tfoot > tr > td,
    table[border][rules = all] > tfoot > tr > th{
        border:1px solid white !important;
    }

    table[border][rules = none] > tr > td,
    table[border][rules = none] > tr > th,
    table[border][rules = none] > tbody > tr > td,
    table[border][rules = none] > tbody > tr > th,
    table[border][rules = none] > thead > tr > td,
    table[border][rules = none] > thead > tr > th,
    table[border][rules = none] > tfoot > tr > td,
    table[border][rules = none] > tfoot > tr > th{
        border:1px solid #383838 !important;
    }

    set > title,
    set > info > title,
    book > title,
    book > info > title{
        border-bottom:3px solid #0050F0 !important;
    }

    part > title,
    part > info > title,
    reference > title,
    reference > info > title,
    chapter > title,
    chapter > info > title,
    preface > title,
    preface > info > title{
        border-bottom:1px solid #0050F0 !important;
    }

    task{
        border-left:2px solid #B512B2 !important;
    }

    msgentry,
    simplemsgentry,
    bibliomixed{
        border:thin solid gray !important;
    }

    modespec,
    book > appendix > title,
    book > appendix > info > title,
    keyword,
    subjectterm{
        border:1px solid gray !important;
    }

    biblioentry{
        border:thin solid #CCCCCC !important;
    }

    refentry{
        border-top:1px solid #B512B2 !important;
        border-bottom:1px solid #B512B2 !important;
    }

    refmeta{
        border-color:#179C32 !important;
    }

    fieldsynopsis,
    constructorsynopsis,
    destructorsynopsis,
    methodsynopsis{
        border-left:2px solid #179C32 !important;
    }

    classsynopsis > fieldsynopsis,
    classsynopsis > constructorsynopsis,
    classsynopsis > destructorsynopsis,
    classsynopsis > methodsynopsis{
        border-left:2px solid #B31552 !important;

    }
}

@media oxygen-high-contrast-black{
    oxy|reference,
    oxy|entity{
        background-color: rgb(72,72,72) !important;
    }
    title, link, ulink, email{
        color:#0050F0 !important;
    }
}