@media print {
	
	/* Align text of the paragraphs from list items with the bullet. Workaround for the missing FOP relative-align=baseline  */
	listitem > para {
		display:inline;
	}
	
	/* Footnotes */
	footnote{
	    float: footnote;
	    font-size:0.8rem;
	    margin-left:1em;	
	}
	
	footnote:before {
		display:none;
	}
	
	footnote > para {
		display:inline;
	}
	
	title {
		page-break-after: avoid;
	}
	
	indexterm {
	  display:none;
	}
	
	
}