interaction:before {
    content: "Counter: " attr(counter);
}
interaction {
    display:block;
    content: 
        oxy_browser(
            href, attr(href), 
            width, 100%, 
            height, 200px
    );
}


button:before{
    content:
    oxy_label(text, "Push button:", width, 150px, text-align, left)
 oxy_button(
/* This action is declared in the document type associated with the XML document. */
 actionID, "insert.popupWithMultipleSelection");
}

p[editMode]{
    width:300px;
    border:1px solid black;
}
p[editMode]:before{
    display:block;
    background-color:#cccccc;
    content:
    oxy_button(actionID, 'bold', transparent, true, actionContext, caret)
 oxy_button(actionID, 'italic', transparent, true, actionContext, caret)
 oxy_button(actionID, 'underline', transparent, true, actionContext, caret)
}

@media oxygen-high-contrast-black, oxygen-dark-theme{
    p[editMode]:before{
        background-color:transparent;
    }
}



a {
    display:inline !important;
    -oxy-link:attr(href);
    color : navy ;
    text-decoration-line : underline ;
}

a:before {
    content : url(images/link.png) ;
    -oxy-link : attr(href) ;
    color : navy ;
}