@import "actions/actions.css";
/* Inline Hints */
/*#FFFAD5*/
/*#FFD34E*/
/* placeholders */
/* editors */
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
/* Add on demand actions for main content structure +/- [X] [Y] [Z] */
body > p:empty,
body > ul:empty,
body > ol:empty,
body > simpletable:empty,
body > dl:empty,
body > fig:empty,
body > pre:empty,
body > object:empty,
section:empty,
body:empty:empty {
  -oxy-show-placeholder: always;
}
body > p:after(1109),
body > ul:after(1109),
body > ol:after(1109),
body > simpletable:after(1109),
body > dl:after(1109),
body > fig:after(1109),
body > pre:after(1109),
body > object:after(1109),
section:after(1109),
body:empty:after(1109) {
  display: block;
  font-size: 1px;
  content: " ";
}
body > p:after(1110),
body > ul:after(1110),
body > ol:after(1110),
body > simpletable:after(1110),
body > dl:after(1110),
body > fig:after(1110),
body > pre:after(1110),
body > object:after(1110),
section:after(1110),
body:empty:after(1110) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, 'See actions', operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/add16.png'), arg-name, '-oxy-add'), transparent, true, showIcon, true);
}
body > p:focus-within:after(1110),
body > ul:focus-within:after(1110),
body > ol:focus-within:after(1110),
body > simpletable:focus-within:after(1110),
body > dl:focus-within:after(1110),
body > fig:focus-within:after(1110),
body > pre:focus-within:after(1110),
body > object:focus-within:after(1110),
section:focus-within:after(1110),
body:empty:focus-within:after(1110),
body > p:hover:after(1110),
body > ul:hover:after(1110),
body > ol:hover:after(1110),
body > simpletable:hover:after(1110),
body > dl:hover:after(1110),
body > fig:hover:after(1110),
body > pre:hover:after(1110),
body > object:hover:after(1110),
section:hover:after(1110),
body:empty:hover:after(1110) {
  visibility: visible;
}
body > p:-oxy-add:after(1110),
body > ul:-oxy-add:after(1110),
body > ol:-oxy-add:after(1110),
body > simpletable:-oxy-add:after(1110),
body > dl:-oxy-add:after(1110),
body > fig:-oxy-add:after(1110),
body > pre:-oxy-add:after(1110),
body > object:-oxy-add:after(1110),
section:-oxy-add:after(1110),
body:empty:-oxy-add:after(1110) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, 'Hide actions', operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/close16.png'), arg-name, '-oxy-add'), transparent, true, showIcon, true);
}
body > p:hover:-oxy-add:after(1110),
body > ul:hover:-oxy-add:after(1110),
body > ol:hover:-oxy-add:after(1110),
body > simpletable:hover:-oxy-add:after(1110),
body > dl:hover:-oxy-add:after(1110),
body > fig:hover:-oxy-add:after(1110),
body > pre:hover:-oxy-add:after(1110),
body > object:hover:-oxy-add:after(1110),
section:hover:-oxy-add:after(1110),
body:empty:hover:-oxy-add:after(1110),
body > p:focus-within:-oxy-add:after(1110),
body > ul:focus-within:-oxy-add:after(1110),
body > ol:focus-within:-oxy-add:after(1110),
body > simpletable:focus-within:-oxy-add:after(1110),
body > dl:focus-within:-oxy-add:after(1110),
body > fig:focus-within:-oxy-add:after(1110),
body > pre:focus-within:-oxy-add:after(1110),
body > object:focus-within:-oxy-add:after(1110),
section:focus-within:-oxy-add:after(1110),
body:empty:focus-within:-oxy-add:after(1110) {
  visibility: visible;
}
body > p:-oxy-add:after(1111),
body > ul:-oxy-add:after(1111),
body > ol:-oxy-add:after(1111),
body > simpletable:-oxy-add:after(1111),
body > dl:-oxy-add:after(1111),
body > fig:-oxy-add:after(1111),
body > pre:-oxy-add:after(1111),
body > object:-oxy-add:after(1111),
section:-oxy-add:after(1111),
body:empty:-oxy-add:after(1111) {
  visibility: hidden;
  content: oxy_button(transparent, true, actionID, 'x.paragraph', showIcon, true) " " oxy_button(transparent, true, actionID, 'x.unorderedList', showIcon, true) " " oxy_button(transparent, true, actionID, 'x.orderedList', showIcon, true) " " oxy_button(transparent, true, actionID, 'x.insert.table', showIcon, true) " | " oxy_button(transparent, true, actionID, 'x.section', showIcon, true) " " oxy_buttonGroup(transparent, true, label, '[…]', tooltip, 'More actions...', actionIDs, 'x.pre, x.dl, x.fig, x.object');
}
body > p:hover:-oxy-add:after(1111),
body > ul:hover:-oxy-add:after(1111),
body > ol:hover:-oxy-add:after(1111),
body > simpletable:hover:-oxy-add:after(1111),
body > dl:hover:-oxy-add:after(1111),
body > fig:hover:-oxy-add:after(1111),
body > pre:hover:-oxy-add:after(1111),
body > object:hover:-oxy-add:after(1111),
section:hover:-oxy-add:after(1111),
body:empty:hover:-oxy-add:after(1111),
body > p:focus-within:-oxy-add:after(1111),
body > ul:focus-within:-oxy-add:after(1111),
body > ol:focus-within:-oxy-add:after(1111),
body > simpletable:focus-within:-oxy-add:after(1111),
body > dl:focus-within:-oxy-add:after(1111),
body > fig:focus-within:-oxy-add:after(1111),
body > pre:focus-within:-oxy-add:after(1111),
body > object:focus-within:-oxy-add:after(1111),
section:focus-within:-oxy-add:after(1111),
body:empty:focus-within:-oxy-add:after(1111) {
  visibility: visible;
}
body:not(:empty):empty {
  -oxy-show-placeholder: always;
}
body:not(:empty):before(109) {
  display: block;
  font-size: 1px;
  content: " ";
}
body:not(:empty):before(111) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, 'See actions', operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/add16.png'), arg-name, '-oxy-add'), transparent, true, showIcon, true);
}
body:not(:empty):focus-within:before(111),
body:not(:empty):hover:before(111) {
  visibility: visible;
}
body:not(:empty):-oxy-add:before(111) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, 'Hide actions', operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/close16.png'), arg-name, '-oxy-add'), transparent, true, showIcon, true);
}
body:not(:empty):hover:-oxy-add:before(111),
body:not(:empty):focus-within:-oxy-add:before(111) {
  visibility: visible;
}
body:not(:empty):-oxy-add:before(110) {
  visibility: hidden;
  content: oxy_button(transparent, true, actionID, 'x.paragraph', showIcon, true) " " oxy_button(transparent, true, actionID, 'x.unorderedList', showIcon, true) " " oxy_button(transparent, true, actionID, 'x.orderedList', showIcon, true) " " oxy_button(transparent, true, actionID, 'x.insert.table', showIcon, true) " | " oxy_button(transparent, true, actionID, 'x.section', showIcon, true) " " oxy_buttonGroup(transparent, true, label, '[…]', tooltip, 'More actions...', actionIDs, 'x.pre, x.dl, x.fig, x.object');
}
body:not(:empty):hover:-oxy-add:before(110),
body:not(:empty):focus-within:-oxy-add:before(110) {
  visibility: visible;
}
ol:empty:empty,
ul:empty:empty,
dl:empty:empty,
li:last-child:empty,
dlentry:last-child:empty {
  -oxy-show-placeholder: always;
}
ol:empty:after(1090),
ul:empty:after(1090),
dl:empty:after(1090),
li:last-child:after(1090),
dlentry:last-child:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(transparent, true, actionID, 'listitem', showIcon, true);
}
ol:empty:focus-within:after(1090),
ul:empty:focus-within:after(1090),
dl:empty:focus-within:after(1090),
li:last-child:focus-within:after(1090),
dlentry:last-child:focus-within:after(1090),
ol:empty:hover:after(1090),
ul:empty:hover:after(1090),
dl:empty:hover:after(1090),
li:last-child:hover:after(1090),
dlentry:last-child:hover:after(1090) {
  visibility: visible;
}
simpletable:empty {
  -oxy-show-placeholder: always;
}
simpletable:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(transparent, true, actionID, 'insert.table.row.below', showIcon, true) " " oxy_button(transparent, true, actionID, 'insert.table.column.after', showIcon, true);
}
simpletable:focus-within:after(1090),
simpletable:hover:after(1090) {
  visibility: visible;
}
fig:empty {
  -oxy-show-placeholder: always;
}
fig:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(transparent, true, actionID, 'title', showIcon, true) " " oxy_button(transparent, true, actionID, 'desc', showIcon, true) " " oxy_button(transparent, true, actionID, 'insert.image2', showIcon, true) " " oxy_button(transparent, true, actionID, 'insert.cross.reference2', showIcon, true);
}
fig:focus-within:after(1090),
fig:hover:after(1090) {
  visibility: visible;
}
fig > * {
  display: block;
  margin-top: 0.5em;
}
image:not([href]):not([keyref]):empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Image";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  image:not([href]):not([keyref]):empty {
    color: white!important;
  }
}
image {
  max-width: 95%;
}
image:after(10) {
  content: oxy_button(transparent, true, action, oxy_action(name, 'Edit', description, 'Edit', icon, url('img/edit16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-setPseudoClassNames, '-oxy-edit'), showIcon, true);
}
image:-oxy-edit:after(10) {
  content: oxy_button(transparent, true, action, oxy_action(name, 'Done', description, 'Done', icon, url('img/done16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-edit'), showIcon, true);
}
image:empty:-oxy-edit:empty {
  -oxy-show-placeholder: always;
}
image:empty:-oxy-edit:after(4) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, action, oxy_action(name, '[Alternate Text]', description, 'Insert alternate text', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<alt/>', arg-insertLocation, '.', arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true);
}
image:empty:-oxy-edit:focus-within:after(4),
image:empty:-oxy-edit:hover:after(4) {
  visibility: visible;
}
image:-oxy-edit:after(5) {
  text-decoration: none;
  content: "\A" oxy_label(text, "  URL:", width, 20%, color, inherit) oxy_urlChooser(edit, '@href', width, 70%) "\A" oxy_label(text, "  Width:", width, 20%, color, inherit) oxy_textfield(edit, '@width', width, 70%) "\A" oxy_label(text, "  Height:", width, 20%, color, inherit) oxy_textfield(edit, '@height', width, 70%) "\A" oxy_label(text, "  Keyref:", width, 20%, color, inherit) oxy_combobox(edit, '@keyref', width, 70%, editable, true);
}
image:-oxy-edit {
  display: block;
  -oxy-placeholder-content: "";
}
object:empty {
  -oxy-show-placeholder: always;
}
object:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(transparent, true, actionID, 'desc', showIcon, true);
}
object:focus-within:after(1090),
object:hover:after(1090) {
  visibility: visible;
}
object > * {
  margin-top: 0.5em;
}
object:empty:empty {
  -oxy-show-placeholder: always;
}
object:empty:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, action, oxy_action(name, '[Parameter]', description, 'Insert parameter', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<param name=""/>', arg-insertLocation, '.', arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true) " " oxy_button(transparent, true, actionID, 'desc', showIcon, true);
}
object:empty:focus-within:after(1090),
object:empty:hover:after(1090) {
  visibility: visible;
}
object > desc:only-child:empty {
  -oxy-show-placeholder: always;
}
object > desc:only-child:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, action, oxy_action(name, '[Parameter]', description, 'Insert parameter', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<param name=""/>', arg-insertLocation, '.', arg-insertPosition, 'After', arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true);
}
object > desc:only-child:focus-within:after(1090),
object > desc:only-child:hover:after(1090) {
  visibility: visible;
}
param {
  display: block;
  margin-left: 1em;
}
param:last-child:empty {
  -oxy-show-placeholder: always;
}
param:last-child:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(transparent, true, actionID, 'listitem', showIcon, true);
}
param:last-child:focus-within:after(1090),
param:last-child:hover:after(1090) {
  visibility: visible;
}
param:last-child:empty {
  -oxy-show-placeholder: default;
}
param:before {
  content: "" !important;
}
param:not([name]):not([value]):empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Parameter";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  param:not([name]):not([value]):empty {
    color: white!important;
  }
}
param[name='']:not([value]):empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Parameter";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  param[name='']:not([value]):empty {
    color: white!important;
  }
}
param[name]:not([name='']):before(20) {
  content: attr(name) " = ";
}
param[value]:before(19) {
  content: " '" attr(value) "' ";
}
param:after(10) {
  visibility: hidden;
  content: oxy_button(transparent, true, action, oxy_action(name, 'Edit', description, 'Edit', icon, url('img/edit16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-setPseudoClassNames, '-oxy-edit'), showIcon, true);
}
param:-oxy-edit:after(10) {
  visibility: hidden;
  content: oxy_button(transparent, true, action, oxy_action(name, 'Done', description, 'Done', icon, url('img/done16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-edit'), showIcon, true);
}
param:focus-within:after(10),
param:hover:after(10) {
  visibility: visible;
}
param:-oxy-delete {
  background-color: rgba(210, 200, 200, 0.2);
}
param:after(80) {
  visibility: hidden;
  content: " " oxy_button(color, #cc5400, action, oxy_action(name, '[X]', icon, '/images/Remove16.png', description, oxy_concat('Delete the current "', oxy_local-name(), '" element'), operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'), transparent, true, hoverPseudoclassName, '-oxy-delete', showIcon, true);
}
param:focus-within:after(80),
param:hover:after(80) {
  visibility: visible;
}
param:-oxy-edit:after(5) {
  text-decoration: none;
  content: "\A" oxy_label(text, "  Name:", width, 20%, color, inherit) oxy_textfield(edit, '@name', width, 70%) "\A" oxy_label(text, "  Value:", width, 20%, color, inherit) oxy_textfield(edit, '@value', width, 70%);
}
/* hints */
/*topic           {.important-hint();}*/
topic > title {
  position: relative;
}
topic > title:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
topic > title:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
topic > title:hover:before(5000) {
  visibility: visible;
}
topic > title:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
topic > title:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
shortdesc {
  position: relative;
}
shortdesc:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
shortdesc:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
shortdesc:hover:before(5000) {
  visibility: visible;
}
shortdesc:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
shortdesc:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
shortdesc:-oxy-hints:-oxy-delete-hints:before(202) {
  background-color: rgba(255, 255, 255, 0.2);
}
shortdesc:-oxy-hints:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: "Short Description";
}
prolog {
  position: relative;
}
prolog:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
prolog:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
prolog:hover:before(5000) {
  visibility: visible;
}
prolog:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
prolog:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
prolog:-oxy-hints:-oxy-delete-hints:before(202) {
  background-color: rgba(255, 255, 255, 0.2);
}
prolog:-oxy-hints:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: "Prolog Information";
}
section {
  position: relative;
}
section:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
section:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
section:hover:before(5000) {
  visibility: visible;
}
section:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
section:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
section:-oxy-hints:-oxy-delete-hints:before(202) {
  background-color: rgba(255, 255, 255, 0.2);
}
section:-oxy-hints:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: "Section";
}
fig {
  position: relative;
}
fig:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
fig:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
fig:hover:before(5000) {
  visibility: visible;
}
fig:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
fig:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
object {
  position: relative;
}
object:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
object:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
object:hover:before(5000) {
  visibility: visible;
}
object:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
object:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
simpletable {
  position: relative;
}
simpletable:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
simpletable:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
simpletable:hover:before(5000) {
  visibility: visible;
}
simpletable:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
simpletable:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
dl {
  position: relative;
}
dl:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
dl:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
dl:hover:before(5000) {
  visibility: visible;
}
dl:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
dl:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
body {
  position: relative;
}
body:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
body:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
body:hover:before(5000) {
  visibility: visible;
}
body:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
body:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
body:-oxy-hints:-oxy-delete-hints:before(202) {
  background-color: rgba(255, 255, 255, 0.2);
}
body:-oxy-hints:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: "Content";
}
/* placeholders */
topic:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Topic";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  topic:empty {
    color: white!important;
  }
}
body:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Content";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  body:empty {
    color: white!important;
  }
}
title:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Title";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  title:empty {
    color: white!important;
  }
}
section > title:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Section Title";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  section > title:empty {
    color: white!important;
  }
}
shortdesc:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Short Description";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  shortdesc:empty {
    color: white!important;
  }
}
ul:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Unordered List";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  ul:empty {
    color: white!important;
  }
}
ol:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Ordered List";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  ol:empty {
    color: white!important;
  }
}
li:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Item";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  li:empty {
    color: white!important;
  }
}
dl:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Definition List";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  dl:empty {
    color: white!important;
  }
}
dlentry:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Entry";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  dlentry:empty {
    color: white!important;
  }
}
dt:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Term";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  dt:empty {
    color: white!important;
  }
}
dd:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Description";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  dd:empty {
    color: white!important;
  }
}
p:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Paragraph";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  p:empty {
    color: white!important;
  }
}
pre:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Preformated Text";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  pre:empty {
    color: white!important;
  }
}
prolog:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Prolog Information";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  prolog:empty {
    color: white!important;
  }
}
section:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Section";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  section:empty {
    color: white!important;
  }
}
fig:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Figure";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  fig:empty {
    color: white!important;
  }
}
stentry:empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Cell";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  stentry:empty {
    color: white!important;
  }
}
/* links */
xref:not([href]):not([keyref]):empty {
  color: #991111 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "You need to set href or keyref attributes!";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  xref:not([href]):not([keyref]):empty {
    color: white!important;
  }
}
/* info button */
simpletable:before(5000) {
  width: 100%;
}
/* Better handling for ordered lists numbering using absolute positions */
ol > li {
  position: relative;
  margin-left: 2.5em!important;
  -oxy-show-placeholder: always;
}
ol > li:before {
  display: block!important;
  width: 2em;
  position: absolute;
  left: -2em;
  top: 0;
}
/*****/
/* prolog data element in-place editing */
prolog {
  border-color: #CCCCCC!important;
  border-width: 1px!important;
  padding: 0.2em;
}
prolog:empty:empty {
  -oxy-show-placeholder: always;
}
prolog:empty:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, action, oxy_action(name, '[Data]', description, 'Insert data', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<data/>', arg-insertLocation, '.', arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true);
}
prolog:empty:focus-within:after(1090),
prolog:empty:hover:after(1090) {
  visibility: visible;
}
data:last-child:empty {
  -oxy-show-placeholder: always;
}
data:last-child:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(transparent, true, actionID, 'listitem', showIcon, true);
}
data:last-child:focus-within:after(1090),
data:last-child:hover:after(1090) {
  visibility: visible;
}
data:last-child:empty {
  -oxy-show-placeholder: default;
}
data:before {
  content: "" !important;
}
data:not([name]):not([value]):not([keyref]):empty {
  color: #555555 !important;
  -oxy-show-placeholder: always;
  -oxy-placeholder-content: "Data";
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
  data:not([name]):not([value]):not([keyref]):empty {
    color: white!important;
  }
}
data[name]:before(20) {
  content: attr(name) " = ";
}
data[value]:before(19) {
  content: " '" attr(value) "' ";
}
data[keyref]:before(18) {
  link: oxy_concat("", attr(keyref, keyref));
  content: "[" attr(keyref) "] ";
  text-decoration-line: underline ;
}
data[keyref]:empty {
  content: "";
}
data:after(10) {
  visibility: hidden;
  content: oxy_button(transparent, true, action, oxy_action(name, 'Edit', description, 'Edit', icon, url('img/edit16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-setPseudoClassNames, '-oxy-edit'), showIcon, true);
}
data:-oxy-edit:after(10) {
  visibility: hidden;
  content: oxy_button(transparent, true, action, oxy_action(name, 'Done', description, 'Done', icon, url('img/done16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-edit'), showIcon, true);
}
data:focus-within:after(10),
data:hover:after(10) {
  visibility: visible;
}
data:-oxy-delete {
  background-color: rgba(210, 200, 200, 0.2);
}
data:after(80) {
  visibility: hidden;
  content: " " oxy_button(color, #cc5400, action, oxy_action(name, '[X]', icon, '/images/Remove16.png', description, oxy_concat('Delete the current "', oxy_local-name(), '" element'), operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'), transparent, true, hoverPseudoclassName, '-oxy-delete', showIcon, true);
}
data:focus-within:after(80),
data:hover:after(80) {
  visibility: visible;
}
data:-oxy-edit:after(5) {
  text-decoration: none;
  content: "\A" oxy_label(text, "  Name:", width, 20%, color, inherit) oxy_textfield(edit, '@name', width, 70%) "\A" oxy_label(text, "  Value:", width, 20%, color, inherit) oxy_textfield(edit, '@value', width, 70%) "\A" oxy_label(text, "  Keyref:", width, 20%, color, inherit) oxy_combobox(edit, '@keyref', width, 70%, editable, true);
}
/* make links editable */
xref:after(10) {
  content: oxy_button(transparent, true, action, oxy_action(name, 'Edit', description, 'Edit', icon, url('img/edit16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-setPseudoClassNames, '-oxy-edit'), showIcon, true);
}
xref:-oxy-edit:after(10) {
  content: oxy_button(transparent, true, action, oxy_action(name, 'Done', description, 'Done', icon, url('img/done16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-edit'), showIcon, true);
}
xref:-oxy-edit:after(5) {
  text-decoration: none;
  content: "\A" oxy_label(text, "  URL:", width, 20%, color, inherit) oxy_textfield(edit, '@href', width, 70%) "\A" oxy_label(text, "  Format:", width, 20%, color, inherit) oxy_combobox(edit, '@format', width, 70%, editable, true) "\A" oxy_label(text, "  Scope:", width, 20%, color, inherit) oxy_combobox(edit, '@scope', width, 70%, editable, true) "\A" oxy_label(text, "  Keyref:", width, 20%, color, inherit) oxy_combobox(edit, '@keyref', width, 70%, editable, true);
}
section {
  -oxy-foldable: false!important;
}
section:before(10000) {
  display: block;
  font-size: 2rem;
  text-align: center;
  content: " . . . ";
  color: gray;
}
@media oxygen AND (platform: "webapp") {
  title {
    letter-spacing: 2px;
  }
  shortdesc {
    letter-spacing: 1px;
  }
}
section > title {
  font-size: 1.2em;
}
shortdesc:before {
  content: "" !important;
}
shortdesc {
  padding-top: 0.5em;
  margin-top: 1em!important;
  padding-bottom: 0.5em;
  margin-bottom: 1em!important;
  margin-left: 2em!important;
  margin-right: 2em!important;
  padding-right: 1em;
  padding-left: 1em;
}
prolog {
  border-radius: 8px;
}
section > * {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
ul,
ol {
  padding-top: 0.5em;
}
li:first-child {
  margin-top: 0.5em;
}
