@import "html_cals_table.css";
@import "links.css";

/* Dark theme*/
@import "dark-theme.css";


/*Defines an anchor*/
a {
    display:inline;
    text-decoration:underline;
    color:blue;
    background-color:inherit;
}

@media oxygen{

a[name]:after,
a[id]:after { 
    content: url("img/a_name.gif"); 
    display:inline-block;
    vertical-align: text-top;
    line-height:4px;
}

a[name]:empty,
a[id]:empty {
    -oxy-display-tags:none;
}

}

a[name]:not([href]),
a[id]:not([href]){
    text-decoration:none;
    color:inherit;
}

abbr,
acronym {
    display:inline;
    font-weight:bold;
}

address {
    display: block;
    font-style: italic; 
    margin-top: 1.1em;
}
@media oxygen AND (platform:"eclipse") {
  address {
    font-style: normal; 
  }
}

article, aside, footer, header, hgroup, section, nav {
    display: block;
}

@media oxygen-chemistry {
	section { -oxy-pdf-tag-type: "Sect";}
}


@media oxygen {
/*
    Defines an embedded applet, or another object.
*/
applet:before{
    content: "Applet: width=\"" attr(width) "\", height=\"" attr(height) "\"";
    color:gray;
    background-color: inherit;
    font-weight:bold;
}
object:before{
    content: 
    oxy_button(actionID, "play.media", transparent, true) "\A " 
    "Object: width=\"" attr(width) "\", height=\"" attr(height) "\"";
    color:gray;
    background-color: inherit;
    font-weight:bold;
}

applet,
object{
    display: block;
    color: inherit;
    background-color:#FFFFDD;
    border:1px solid gray;
    padding: 2px;
    margin-top:2px;
    margin-bottom:2px;
}
applet > param:before,
object > param:before
{
    content: "Parameter name=\"" attr(name) "\", value=\"" attr(value) "\"";
    color:gray;
    background-color:inherit;    
}
applet > param,
object > param{
    display:list-item;
    list-style-type:square;
    margin-left:2em;
}

}

b {
    font-weight:bold;
}

big {
    font-size:larger;
}

/*
    Defines the start of a long quotation.
*/
blockquote{
    display:block;
    margin:1em 4em;
}
blockquote:before,
blockquote:after{
    color:gray;
    background-color:inherit;
    font-size: 1.2em;
}
blockquote:before{
    content:open-quote;
}
blockquote:after{
    content:close-quote;
}

base,
meta,
/*
    This element defines the relationship 
    between two linked documents.
*/
link,
style,
script{
    font-family:monospace;
    font-size:smaller;
    display:block;
    background-color:#EEEEFF;
    color:inherit;
    border:1px solid #CCCCEE;
    margin:1px 0;
}

/* Hide all metadata from paged output, and collect the metadata. */
@media oxygen-chemistry {
	base, meta, link, style, script { 
		display: none;
	}

	meta[name='keywords'] {
		-oxy-pdf-meta-keywords:attr(content);
	}
	meta[name='description'], meta[name='subject'] {
		-oxy-pdf-meta-description:attr(content);
	}
	meta[name='author'] {
		-oxy-pdf-meta-author:attr(content);
	}
	
}


@media oxygen {
	
style{
    -oxy-foldable : true;
    -oxy-folded : true;
}

base:before{
    content:"Base: href=" attr(href);
    font-weight:bold;
}

meta:before{
    content:"Meta: name=" attr(name);
    font-weight:bold;
}

meta[content]:before{
    content:"Meta: name=" attr(name) " content=" attr(content);
    font-weight:bold;
}


link[href]:before{
    content:"Link: href=" attr(href);
    font-weight:bold;
}

link[href][style]:before{
    content:"Link: href=" attr(href) " style=" attr(style);
    font-weight:bold;
}

script[type]:before{
    content:"Script: type=" attr(type);
    font-weight:bold;
}
script[type][src]:before{
    content:"Script: type=" attr(type) " src=" attr(src);
    font-weight:bold;
}
style[type]:before{
    content:"Style: type=" attr(type);
    font-weight:bold;
}
style, script {    
    white-space:pre;
}

}

/* 
    Defines the documents' body. It contains all the 
    contents of the document (like text, images, colors, 
    graphics, etc.). */
body {
    display:block;
}

@media oxygen {
    body {
        margin:8px;
    }
}

body[background] {
    background-image: attr(background, url);
}

body[bgcolor] {
    background-color: attr(bgcolor, color);
}

body[text] {
    color: attr(text, color);
}

@media oxygen {
/*
    Defines a base font.
*/
basefont { 
    content: "basefont=\"" attr(size)  "\"";
    font-size: small;
    color: gray;
    background-color:inherit;
}

}

/*
    The BDI element is used for bi-directional text formatting.
*/
bdi{
	unicode-bidi:embed;	
}

/*
    The BDO element overrides the default text direction.
*/
bdo[dir='ltr'] {
	direction:ltr;
    unicode-bidi:bidi-override;
}
bdo[dir='rtl'] {
	direction:rtl;
    unicode-bidi:bidi-override;
}

/*
    The <br> tag inserts a single line break. 
*/
br {
    display:block;
}
br:after{
    content:"";
}

/*
    Button in a form.
*/
button {
    display: inline;
    text-align: center;
    border:2px outset silver;
    background-color: #DDDDDD;
    color:black;
    padding:2px;
}


/*
    Centers its enclosed text horizontally.
*/
center {
    display: block;
    text-align:center;
}

/*
    Defines a citation.
*/
cite {
    display:inline;
    font-style:italic;
}

/*
    Program code.
*/
code {
    font-family:monospace;
    font-size:smaller;
}


/*
    Defines groups of table columns. 
    With this element, you can 
    group columns for formatting. 
*/
col {
    display: table-column;
}
colgroup {
    display: table-column-group;
}



table {
	table-layout: auto !important;
}


@media oxygen {

col, colgroup {
    display:none;    
}	
	
table:-oxy-visible-colspecs col,
table:-oxy-visible-colspecs colgroup{
    display:block;
}

table:before! > col,
table:before! > colgroup{ 
    display:block;
    content:oxy_button(actionID, 'table.expand.colspec', transparent, true, color, navy, fontInherit, true, showText, true);
    text-align:left;
    font-family: sansserif, verdana, helvetica;
    font-size: 0.75em;
    color: navy;
}
table:-oxy-visible-colspecs:before{
    content:oxy_button(actionID, 'table.collapse.colspec', transparent, true, color, navy, fontInherit, true, showText, true);		
}

}

/*
    Specifies an "autocomplete" dropdown list.
 */
datalist > option {
    display: inline;
}

datalist > option:after{
    content: attr(value) ", ";
    color:gray;
    background-color:inherit;    
    font-size:small;
}

/*
    The <dd> tag defines the 
    description of a term in 
    a definition list.
*/
dd{
    display:block;
    margin: 0.5em 3em;
}
dl{
    display:block;
}
dt{
    display:block;
    margin: 0.5em 1em;
    font-weight:bold;
}

/*
    Defines text that has been deleted in a document.
*/
del{
    display:inline;
    text-decoration:line-through;
}

/*
    Specifies details of an element.
 */
details, summary {
    display: block;
}

/*
    Defines a definition term.
*/
dfn {
    font-style:italic;
}

@media oxygen AND (platform:"eclipse") {
  dfn {
    font-style:normal;
  } 
}

/*
    The <dir> tag defines a directory list.
*/
dir {
    display:block;
    margin-left:2em;
}
dir > li {
    display:list-item;
    list-style-type:disc;
}

/*
    The <div> tag defines a division/section in a document.
*/
div {
    display:block;
}

/*
    Renders as emphasized text.
*/
em{
    font-style: italic;
}

/*
    The fieldset element draws 
    a box around its containing elements.
*/
fieldset {
    display:block;
    border: 1px solid navy;
    padding: 3px;
    margin:0.5em 0;
}

/*
   Specifies a group of media content, and their caption.
 */
figure, figcaption {
    display: block;
}

/*
    The <font> tag specifies the font face, 
    font size, and font color of text.
*/
font{
    display:inline;
}
font[color] {
    color: attr(color, color);
}
font[face] {
    font-family: attr(face);
}

font[size="1"] {
    font-size: x-small;
}
font[size="2"] {
    font-size: small;
}
font[size="3"] {
    font-size: medium;
}
font[size="4"] {
    font-size: large;
}
font[size="5"] {
    font-size: x-large;
}
font[size="6"],
font[size="7"] {
    font-size: xx-large;
}
font[size="-3"],
font[size="-2"],
font[size="-1"] {
    font-size: smaller;
}
font[size="+1"],
font[size="+2"],
font[size="+3"] {
    font-size: larger;
}

/*
    The form element creates a form 
    for user input. A form can contain 
    textfields, checkboxes, radio-buttons and 
    more. Forms are used to pass user-data 
    to a specified URL.
*/
form {
    display:block;
    margin:1em 0;
}

/*TODO - check this.*/
frame{
    display:block;
    border:1px solid silver;
}
frame:before {
    content: "Frame: href=" attr(href);
    color:gray;
    background-color:inherit;    
}
frameset{
    display:block;
    border:1px solid gray;
    padding:2px;
}

/*
    Contains metainformation.
*/
head {
  display: block;
  border: solid white 1pt;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

@media oxygen-chemistry {
	head { 
		display:none; 
	}	
}

/*
    Headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {    
    display:block;
    font-weight:bold;
    background-color:inherit;
}

h1 {
    font-size: 2em;
    margin:0.5em 0;
}

h2 {
    font-size: 1.75em;
    margin:0.5em 0;
}

h3 {
    font-size: 1.5em;
    margin:0.5em 0;
}

h4 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

h5 {
    font-size: 1em;
    margin: 0.5em 0;
}

h6 {
    font-size: .75em;
    margin: 0.5em 0;
}

@media print {
	h1, h2, h3, h4, h5, h6 { bookmark-label: content(text);	}
		
	h1 { bookmark-level: 1; }
	h2 { bookmark-level: 2; }
	h3 { bookmark-level: 3; }
	h4 { bookmark-level: 4; }
	h5 { bookmark-level: 5; }
	h6 { bookmark-level: 6; }
}

@media oxygen-chemistry {
	h1 { -oxy-pdf-tag-type: "H1";}
	h2 { -oxy-pdf-tag-type: "H2";}
	h3 { -oxy-pdf-tag-type: "H3";}
	h4 { -oxy-pdf-tag-type: "H4";}
	h5 { -oxy-pdf-tag-type: "H5";}
	h6 { -oxy-pdf-tag-type: "H6";}
	
	h1, h2, h3, h4, h5, h6 { page-break-after: avoid;}	
}

/*
    The <hr> tag inserts a horizontal rule.
*/
hr {
    display:block;
    border-top:1px inset silver;
    margin:0.5em 0;
    content:"";
}

/*
    The root element.
*/
html {
    display:block;
}


/*
    Renders as italic text
*/
i {
    font-style:italic;
}

/*
    The img element defines an image.
*/
img {
    display: inline;
    content:attr(src, url);
    width:attr(width, length);
    height:attr(height, length);
}

@media oxygen-chemistry {
	img {
	   -oxy-alt-text: attr(alt);
	}
}

@media oxygen and (platform:eclipse),
       oxygen and (platform:standalone) {
    
    /*
     * Support for editing the image map.
     */
    img[usemap]:after(2){
        display:block;
        content:oxy_button(actionID, 'edit.image.map');		
    }
}


/*
    The <input> tag defines the start of an input 
    field where the user can enter data.
*/
input {
    display:inline;
    border:1px solid gray;
    padding:0 3em;
    color:gray;
    background-color:white;
    font-size:smaller;
}
input:before{
    content:attr(value) "  ";
}

input[type=checkbox][class=task-list-item-checkbox]:before{
    content:"";
}

@media oxygen{
input[type=checkbox][class=task-list-item-checkbox]{
    content:oxy_checkbox(
        edit, '@checked',
        values, 'checked',
        labels, ''
    );
    
    padding-right : 0 !important;
    padding-left : 0 !important;
    border-bottom-width : 0 !important;
    border-left-width : 0 !important;
    border-right-width : 0 !important;
    border-top-width : 0 !important;
    /* 
     
        labels, 'On/Off'
        uncheckedValues, 'Off',
     */
}
}

input[type=submit],
input[type=button]{
    display:inline;
    border-style:outset;
    background-color:silver;
    color:black;
}

input[type=submit]:before,
input[type=button]:before{
    content:attr(value);
}


/*
    Inserted text.
*/
ins {
    text-decoration: underline;
}

/*
    Defines keyboard text.
*/
kbd {
    font-family:monospace;
    font-size:smaller;
}

/*
    Defines a label to a control. 
*/
label {
    display: inline;
    font-weight: bold;
}

/*
    The legend defines a caption for a fieldset.
*/
legend {
    display: block;
    background-color: silver;
    color:inherit;
    font-weight: bold;
    padding: 2px;
    margin-bottom:2px;
}


/*Defines a client-side image-map. An image-map is an image with clickable regions.*/
@media oxygen {

map:before {
    content: "Map: id=\"" attr(id) "\"";
    color:gray;
    background-color:inherit;
    font-weight:bold;
}
map[name]:before {
    content: "Map: id=\"" attr(id) "\", name=\"" attr(name) "\"";
    color:gray;
    background-color:inherit;
    font-weight:bold;
}
map {
    display: block;
    color: inherit;
    background-color:#FFFFDD;
    border:1px solid gray;
    padding: 2px;
    margin-top:2px;
    margin-bottom:2px;
}

/*
    Defines a region in an image map.
*/
map > area {
    display:list-item;
    list-style-type:square;
    margin-left: 2em;
}

map > area:before(2) {
    content: 
            oxy_textfield(
                tooltip, 'Alternate text for this area',
                edit, '@alt',
                width, 30%)
                "→"
            oxy_textfield(
                tooltip, 'URL this area links to',
                edit, '@href',
                width, 30%)
            oxy_textfield(
                tooltip, 'Shape of this area',
                edit, '@shape',
                width, 10%)
            oxy_textfield(
                tooltip, 'Coordinates',
                edit, '@coords',
                width, 20%)                
               ;
    color:gray;
    background-color:inherit;
}

map > area[href]:before {
    link: attr(href);
    content:url(img/link.png);
}

}

@media oxygen-chemistry {
	map {
		display: none;
	}	
}

/*
   Specifies marked text.
 */
mark {
    background-color: yellow;
}

/*
    The menu tag defines a list.
*/
menu {
    display:block;
    margin-left:2em;
}
menu > li {
    display:list-item;
    list-style-type:disc;
}

/*
 	Specifies measurement within a predefined range.
 */
meter {
    display: inline;
    width: 200px;
    border-color: green;
    border-left-width: oxy_multiply(2, 100, attr(value, 'integer'), 'px');
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    content: "";
}

/* 
    Section displayed when the browser does not 
    support the frames.
*/
noframes {
    display:block;
}


noscript {
    display:block;
    background-color:#FFEEEE;
    color:inherit;
}

ol {
    display:block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

ol > li {
    display:list-item;
    list-style:decimal;    
    margin-left: 2em;
}

/*
    Prefixes the list items.
*/
ol[type=a] > li{
  list-style:lower-alpha;
}
ol[type=A] > li{
  list-style:upper-alpha;
}
ol[type=i] > li {
  list-style:lower-roman;
}
ol[type=I] > li {
  list-style:upper-roman;
}

/*EXM-36699 Take into account the @start attribute, use manual counters.*/
ol[start]{
  counter-reset: item-count oxy_subtract(attr(start), 1, integer);
}

ol[start] > li {
    display:block;
}

ol[start] > li:before{
    display:inline;
    content: counters(item-count, ".", decimal) ". "; 
    counter-increment: item-count;    
}

ol[start][type=a] > li:before{
    content: counters(item-count, ".", lower-alpha) ". "; 
}

ol[start][type=A] > li:before{
    content: counters(item-count, ".", upper-alpha) ". "; 
}

ol[start][type=i] > li:before{
    content: counters(item-count, ".", lower-roman) ". "; 
}

ol[start][type=I] > li:before{
    content: counters(item-count, ".", upper-roman) ". "; 
}
/*EXM-36699 End.*/

ol ol,
ul ol,
ul ul,
ol ul{
    margin-top:0em;
    margin-bottom:0em;
}

/*
    Defines an option group. This element allows you to group choices.
*/
optgroup{
    display:block;
    margin:1em;
    border:1px solid silver; 
    padding:2px;
}
optgroup:before{
    color:gray;
    background-color:inherit;
    font-size:small;
    content: "Option group label=" attr(label);
}
option{
    display:list-item;
    margin:0 2em;
}
option:after{
    content: " - " attr(value);
    color:gray;
    background-color:inherit;    
    font-size:small;
}
select {
    display:block;
    border-style:ridge;
    border-color:silver;
}

/*
    The paragraph.
*/
p{ 
    display: block;
    margin: 0.5em 0;
}
p[align=center]{
    text-align:center;
}
p[align=left]{
    text-align:left;
}
p[align=right]{
    text-align:right;
}
p[align=justify]{
    text-align:justify;
}

/*
    Preformatted sections.
*/
pre {
    display:block;
    font-family:monospace;
    font-size:smaller;
    white-space: pre;
    padding:2px;
    margin:0.8em 0;
}

@media oxygen-chemistry {
	pre { -oxy-pdf-tag-type: "Code";}
}

/*
   Specifies progress of a task of any kind.
 */
progress {
    display: inline;
    width: 200px;
    border-color: green;
    border-left-width: 200px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    content: "";
}

/* 
    A small quotation.
*/
q{
    font-style:italic;
}
@media oxygen-chemistry {
	q{
		-oxy-pdf-tag-type: "Quote";
	}
}
q:before{
    content:open-quote;
    color:gray;
    background-color:inherit;
}
q:after{
    content:close-quote;
    color:gray;
    background-color:inherit;    
}

/*
    Renders as smaller text
*/
small{
    font-size: smaller;
}

strike,
s{
    text-decoration: line-through;
}

/*
    Defines sample computer code
*/
samp{
    font-family:monospace;
    font-size:smaller;
}

span{
    display:inline;
}

/*
    Strong text.
*/
strong { 
    font-weight: bold; 
}

/*
    Subscript.
*/
sub {
    vertical-align: sub;
    font-size:small;
}

/*
    Superscript.
*/
sup {
    vertical-align: super;
    font-size:small;    
}

textarea {
    font-family:  monospace;
    font-size:smaller;
    display:block;
    margin:1em;
    border:2px inset silver;
    padding:1px;
}




/*
    Renders as teletype or mono spaced text
*/
tt{
    font-family: monospace;
    font-size:smaller;
}

/*
    The title of the page.
*/
title {
    display:block;
    font-weight:bold;
    color:#002244;
    background-color:inherit;
    font-size: 2.2em;
    margin: 0.5em 0;
    border-bottom: 2px solid #004477;
    -oxy-pdf-meta-title: content(text);    
}

/*
    Underlined text.
*/
u{
    text-decoration:underline;
}

/*
    Unordered list.
*/
ul {
    display:block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

ul > li {
    display:list-item;
    list-style-type:disc;
    margin-left: 2em;
}

ul > li ul > li {
    list-style-type:square;
}
ul > li ul > li ul > li {
    list-style-type:circle;
}
ul > li ul > li ul > li ul > li {
    list-style-type:disc;
}

/*
    Defines a variable.
*/
var {
    font-style:italic;
}

font {
    font-family:attr(face);
    font-size:attr(size);
    font-style:attr(style);
}

/*
 * HTML5 video and audio elements.
 */

@media oxygen { 

/* Width and height attributes are not supported.*/
audio[src]{
    content: 
    oxy_audio(href, oxy_url(oxy_base-uri(), attr(src)));
}

video[src] {
  content: 
  oxy_video(href, oxy_url(oxy_base-uri(), attr(src)));
}

video[src][width][height] {
  content: 
  oxy_video(href, oxy_url(oxy_base-uri(), attr(src)), width, attr(width, length), height, attr(height, length));
}

video[src][width] {
  content: 
  oxy_video(href, oxy_url(oxy_base-uri(), attr(src)), width, attr(width, length));
}

video[src][height] {
  content: 
  oxy_video(href, oxy_url(oxy_base-uri(), attr(src)),height, attr(height, length));
}

/* Iframe */

iframe[src] {
  content: 
  oxy_browser(href, oxy_url(oxy_base-uri(), attr(src)));
}

iframe[src][width][height] {
  content: 
  oxy_browser(href, oxy_url(oxy_base-uri(), attr(src)), width, attr(width, length), height, attr(height, length));
}

iframe[src][width] {
  content: 
  oxy_browser(href, oxy_url(oxy_base-uri(), attr(src)),width, attr(width, length));
}

iframe[src][height] {
  content: 
  oxy_browser(href, oxy_url(oxy_base-uri(), attr(src)),height, attr(height, length));
}

}

*[style] {
  -oxy-style:attr(style); 
}
