<plugin id="org.dita-community.common.xslt">
  <!-- Provides common XSLT components usable from any XSLT transform.
    -->

  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="ekimber@contrext.com"/>  
  
  
    <!-- Include the dita-support-lib and relpath_util libraries in all extentions. -->
    <feature extension="dita.xsl.xhtml"
      value="xsl/commonXsltExtensionSupport.xsl" 
      type="file"
    />
    <feature extension="dita.xsl.xslfo"
      value="xsl/commonXsltExtensionSupport.xsl" 
      type="file"
    />

</plugin>