<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.pdf.custom">
  <require plugin="org.dita.pdf2"/>
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  
  <feature extension="dita.conductor.pdf2.param" file="extensionParameters.xml"/>
  <feature extension="package.version" value="18.0"/>
  <feature extension="dita.xsl.xslfo" value="custom.xsl" type="file"/>
  <feature extension="depend.org.dita.pdf2.init.pre" value="oxygenCopyNoteImages" type="text"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  
  <transtype name="pdf" desc="PDF">
    <param name="com.oxygenxml.use.custom.note.images"
      desc="Specifies if custom images will be used when generating PDF output with the 'pdf2' transtype. 
      Set this parameter to 'no' to use the default images from the PDF2 plugin or your custom images."
      type="enum">
      <val default="yes">yes</val>
      <val>no</val>
    </param>    
  </transtype>
</plugin>
