<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.elovirta.ooxml">
  <require plugin="org.dita.pdf2"/>
  <transtype name="docx" desc="DOCX">
    <param name="dotx.file" desc="DOCX template file" type="file"/>
    <param name="document.flat.xsl" desc="Preprocess clean-up stylesheet" type="file"/>
    <param name="core.xsl" desc="Core metadata stylesheet" type="file"/>
    <param name="custom.xsl" desc="Custom metadata stylesheet" type="file"/>
    <param name="document.xsl" desc="Main document stylesheet" type="file"/>
    <param name="comments.xsl" desc="Comments stylesheet" type="file"/>
    <param name="numbering.xsl" desc="List and title numberig stylesheet" type="file"/>
    <param name="footnotes.xsl" desc="Footnote stylesheet" type="file"/>
    <param name="document.xml.xsl" desc="Document relations metadata stylesheet" type="file"/>
    <param name="inkscape.exec" desc="Inkscape executable" type="file"/>
  </transtype>
  <feature extension="dita.transtype.print" value="docx"> </feature>
  <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
  <!--<feature extension="dita.conductor.lib.import" file="lib/ant-contrib-0.6.jar"/>-->
</plugin>
