<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.pdf.review">
  <require plugin="org.dita.pdf2"/>
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="18.0"/>
  <feature extension="dita.xsl.xslfo" value="review/review-pis-to-elements-core.xsl" type="file"/>
  <feature extension="dita.conductor.pdf2.param" value="params.xml" type="file"/>  
  <feature extension="depend.org.dita.pdf2.format.pre" value="process-reviews"/>
  <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>  
  
  <transtype name="pdf" desc="PDF">
    <param name="show.changes.and.comments" desc="Show Oxygen track changes and comments" type="enum">
      <val desc="No" default="true">no</val>
      <val desc="Yes">yes</val>
    </param>
  </transtype>
</plugin>
