<?xml version="1.0" encoding="UTF-8"?>
<!--
Oxygen WebHelp Plugin Common Extensions for DITA-OT 2.0 or newer.

Copyright (c) 1998-2017 Syncro Soft SRL, Romania.  All rights reserved.

-->
<!DOCTYPE plugin[
 <!ENTITY commons SYSTEM 'plugin_commons.xml'>
]>
<plugin id="com.oxygenxml.webhelp.common">
  &commons;
  <feature extension="dita.xsl.mappull" file="xsl/dita/mappullAddMetadata2.x.xsl"/>
</plugin>
