<?xml version="1.0" encoding="UTF-8"?>
<!-- This plugin transforms the XHTML output to a reveal.js based web presentation. -->
<plugin id="org.doctales.reveal">

    <!-- 
        Declare the XHTML plugin as a prerequisite plugin.
        If the required plugin is missing, a warning will
        be thrown during the integration process.
    -->
    <require plugin="org.dita.xhtml"/>

    <!-- Name of the author -->
    <feature extension="package.support.name" value="Stefan Eike"/>

    <!-- E-mail address of the author -->
    <feature extension="package.support.email" value="stefan.eike@mailbox.org"/>

    <!-- Version of the plugin -->
    <feature extension="package.version" value="0.1"/>

    <!-- 
        The feature element is adding the value 'reveal' to the
        extension point 'dita.conductor.transtype.check'. The
        @type attribute value of 'txt' indicates that the plugin
        is adding the value of the @value attribute.
    -->
    <feature extension="dita.conductor.transtype.check" value="reveal" type="txt"/>

    <!--
        The contents of the 'build.xml' build file are added to the
        'dita.conductor.target.relative' extension point.
        Because the value of @type is 'file', the value of @value is used
        as a filename. It is also possible to use @file instead of @value.
    -->
    <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

    <!-- 
        Automatically set the map-attribute 'chunk' to 'to-content' in the preprocess.
    -->
    <feature extension="depend.preprocess.chunk.pre" value="setchunk"/>
    
    <!--
        Add parameters to the transformation process.
        Parameters can, for example, switch the CSS stylesheet.
    -->
    <!--<feature extension="dita.conductor.xhtml.param" file="insertParameters.xml"/>-->

    <!-- Override the standard XHTML processing with a XSL stylesheet. -->
    <!-- <feature extension="dita.xsl.xhtml" file="xsl/reveal.xsl"/> -->
    <transtype name="reveal" extends="base-html" desc="Web Slides (Reveal.js - Experimental)">
        <param name="args.reveal.css" desc="Theme used for the Reveal slides" type="enum">
            <val default="true">default</val>
            <val>sky</val>
            <val>beige</val>
            <val>simple</val>
            <val>serif</val>
            <val>night</val>
            <val>moon</val>
            <val>solarized</val>
        </param>
        <param name="args.reveal.generate.vertical.slides"
            desc="Generate vertical slides for level 2 and below references." type="enum">
            <val default="true">true</val>
            <val>false</val>
        </param>
    </transtype>
</plugin>
