pre {
    padding: 2em;
}

.sample {
    width: 400px;
    border: 2px solid black;
    margin:1em auto;
    padding:1em;
}
.sample div, 
.sample p{
    margin-left: 1em;
    padding:1em;
    border:1px solid #EEEEEE;
}

/*
=====================================================
  
*/
#subject .sample div:after!>div>div:hover{
    content: "Too many nested DIVs.";
    display:block;
    background-color:yellow;
    padding:1em;
}
#subject .sample div!>div>div{
    border:4px solid red;
}
#subject .sample div>div>div:hover{
    border:5px solid yellow;
}
