<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.image.float">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="19.0"/>
  <feature extension="dita.xsl.xslfo" value="customFO.xsl" type="file"/>
  <feature extension="dita.xsl.xhtml" value="customXHTML.xsl" type="file"/>
</plugin>
