<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Sample plugin.xml for the Oxygen standalone distribution.
 The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory. 

 More details about how plugins should be built and installed in Oxygen:
 
 http://www.oxygenxml.com/doc/ug-oxygen/#topics/extend-oxygen-with-plugins.html
-->
<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">

<plugin
 id="unique.identifier.name"
 name="Your Plugin's Name"
 description="Description for what your plugin does"
 version="1.0"
 vendor="Vendor Name"
 class="com.package.name.MainPluginClassName"
 classLoaderType="preferReferencedResources">
 <runtime>
        <library name="lib/customLibrary.jar"/>
 </runtime>
 
 <!-- Example of declaring an extension of type Workspace Access which can contribute toolbar, menu items, add editor
change listeners -->
 <extension type="WorkspaceAccess" 
  class="com.package.name.CustomWorkspaceAccessPluginExtension"/>
 <!-- Example of declaring an additional option page contributed by the plugin to the application Preferences. -->
 <extension type="OptionPage" class="com.package.name.CustomWorkspaceAccessOptionPagePluginExtension"/>
 
  <!--Example of declaring a placeholder for a new view which will be created and used by the workspace access plugin extension.-->
  <view id="SampleWorkspaceAccessID" initialSide="WEST" initialRow="0"/>
  <!--Example of declaring a placeholder for a new toolbar which will be created and used by the workspace access plugin extension.-->
  <toolbar id="SampleWorkspaceAccessToolbarID" initialSide="NORTH" initialRow="1"/>
</plugin>
