@media oxygen AND (platform: "webapp") {
  *[audience] {
    border: 1px solid green;
  }
  *[audience]:after(1000001) {
    font-size: 0.75em;
    content: ' (if audience is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(audience), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[arch] {
    border: 1px solid green;
  }
  *[arch]:after(1000003) {
    font-size: 0.75em;
    content: ' (if arch is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(arch), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[condition] {
    border: 1px solid green;
  }
  *[condition]:after(1000005) {
    font-size: 0.75em;
    content: ' (if condition is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(condition), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[conformance] {
    border: 1px solid green;
  }
  *[conformance]:after(1000007) {
    font-size: 0.75em;
    content: ' (if conformance is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(conformance), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[os] {
    border: 1px solid green;
  }
  *[os]:after(1000009) {
    font-size: 0.75em;
    content: ' (if os is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(os), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[revision] {
    border: 1px solid green;
  }
  *[revision]:after(1000011) {
    font-size: 0.75em;
    content: ' (if revision is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(revision), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[revisionflag] {
    border: 1px solid green;
  }
  *[revisionflag]:after(1000013) {
    font-size: 0.75em;
    content: ' (if revisionflag is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(revisionflag), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[security] {
    border: 1px solid green;
  }
  *[security]:after(1000015) {
    font-size: 0.75em;
    content: ' (if security is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(security), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[status] {
    border: 1px solid green;
  }
  *[status]:after(1000017) {
    font-size: 0.75em;
    content: ' (if status is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(status), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[userlevel] {
    border: 1px solid green;
  }
  *[userlevel]:after(1000019) {
    font-size: 0.75em;
    content: ' (if userlevel is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(userlevel), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[vendor] {
    border: 1px solid green;
  }
  *[vendor]:after(1000021) {
    font-size: 0.75em;
    content: ' (if vendor is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(vendor), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
  *[wordsize] {
    border: 1px solid green;
  }
  *[wordsize]:after(1000023) {
    font-size: 0.75em;
    content: ' (if wordsize is ' oxy_label(text, oxy_concat("'", oxy_replace(attr(wordsize), ' ', "' or '"), "'"), color, #0000ff) ') ';
    background-color: #CCFFAA;
  }
}
