<?xml version="1.0" encoding="UTF-8"?>
<!--
Oxygen WebHelp Plugin for DITA-OT 2.0 or newer.

Copyright (c) 1998-2017 Syncro Soft SRL, Romania.  All rights reserved.

-->
<!DOCTYPE plugin[
 <!ENTITY commons SYSTEM 'plugin_commons.xml'>
]>
<plugin id="com.oxygenxml.webhelp.classic">
  &commons;
  <feature extension="com.oxygenxml.classic.main.target.dependencies" value="build-init, 
    check-license, 
    check-webhelp-feedback-parameters,
    dita.map.webhelp.init, 
    preprocess,
    xhtml.init,
    xhtml.image-metadata,
    dita.out.map.webhelp.toc,
    dita.webhelp.sitemap.xml,
    copy-webhelp-resources,
    copy-css, 
    dita.topics.html.common, 
    webhelp-indexterms, 	                       
    dita.inner.topics.webhelp,
    create-main-files,
    copy-webhelp-feedback-localization,
    webhelp-index" type="text"/>
</plugin>
