<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.dita-ot.plugin.mathml">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="1.0.0"/>
  <feature extension="dita.specialization.catalog.relative" value="catalog.xml" type="file"/> 
  <feature extension="dita.image.extensions" value=".mml"/>
  <feature extension="dita.image.extensions" value=".mathml"/>
  <feature extension="dita.xsl.xhtml" value="xhtmlMathML.xsl" type="file"/>
  <feature extension="dita.xsl.xslfo" value="pdfMathML.xsl" type="file"/>
</plugin>
