<?xml version="1.0" encoding="UTF-8"?>
<!--
Oxygen WebHelp Plugin for DITA-OT 1.8.x or older.

Oxygen WebHelp Plugin
Copyright (c) 1998-2017 Syncro Soft SRL, Romania.  All rights reserved.


-->
<!DOCTYPE plugin[
 <!ENTITY commons SYSTEM 'plugin_commons.xml'>
]>
<plugin id="com.oxygenxml.webhelp.responsive">
  &commons;
  
  <feature 
    extension="com.oxygenxml.responsive.internal.target.dependencies.topics.html" 
    value="dita.topics.xhtml" 
    type="text"/>
  
  <feature 
    extension="com.oxygenxml.responsive.internal.target.dependencies.outer.topics" 
    value="dita.outer.topics.xhtml" 
    type="text"/>
  
</plugin>
