<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.dita.metrics.report">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="18.0"/>
  <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>  
  
  <transtype name="metrics-report" desc="DITA Metrics Report"/>
</plugin>
